@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Tektur", cursive;
  background-color: #D9DBDF;
}

.router-link-exact-active {
  font-weight: bold;
}

@media (max-width: 539px) {
  .add-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 454px) {
  .no-post-container {
    text-align: center;
  }
}
